@import reset

@font-face
    font-family: helveticaLT
    src: url(./fonts/helvetica-light.ttf)
@font-face
    font-family: helveticaNeueRoman
    src: url(./fonts/HelveticaNeue-Roman.ttf)	
@font-face
    font-family: helveticaLT-Bold
    src: url(./fonts/helvetica-lt-bold.ttf)
@font-face
    font-family: helveticaRegular
    src: url(./fonts/helvetica-ce-regular.ttf)    

$marLR: 45px
=content-margin($marLR)
	margin: 0 $marLR

html
	box-sizing: border-box;    
body
	display: flex
	flex-direction: column
	background-color: #286aaf
header
	padding: 20px 20px 0 20px
	+content-margin($marLR)
	display: flex
	flex-direction: column
	background-color: #286aaf	
	.logo
		position: absolute
		margin-left: -$marLR
	.user-basket
		margin-bottom: 20px
		display: flex
		width:  430px
		align-self: flex-end
		align-items: center
		justify-content: flex-end	
		a
			color: #ffffff
			text-decoration: none
		a:hover
			color: #17508e
		a:nth-child(1):after
			margin: 0 18px
			content: '|'																										
		a:nth-child(1):hover:after
			color: #ffffff																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										
		a:nth-child(2)
			margin-right: 30px
		.price-checkout
			width: 250px
			height: 50px
			display: flex
			justify-content: space-between
			align-items: center
			border-radius: 5px
			background-color: #ffffff
			img
				margin-left: 15px
			p
				font-family: helveticaLT
				font-size: 1.5em
				color: #4d4d4d
			button
				margin-right: 15px
				width: 87px
				height: 25px
				color: #ffffff
				font-family: helveticaNeueRoman
				font-size: 1.1em
				border: none
				border-radius: 5px
				background: linear-gradient(0deg, #195391, #4284c9)
				
			button:hover
				background: linear-gradient(0deg, #195390, #6ea1d7)
				cursor: pointer		
	nav
		$navFontSize: 1em
		align-self: center
		display: flex
		
		label
			width: 145px
			height: 35px
			display: flex
			align-items: center
			justify-content: center
			color: #ffffff
			font-family: helveticaLT-Bold
			font-size: $navFontSize
			cursor: pointer
			background: linear-gradient(0deg, #c9c9c9, #fdfdfd)
		label:first-of-type
			border-radius: 10px 0 0 0
		label:last-of-type
			border-radius: 0 10px 0 0
		input
			display: none
			&:checked + label
				box-sizing: border-box
				border: 1px solid #90b5dd
				background: linear-gradient(0deg, #195390, #6ea1d7)
		select
			margin-left: 45px
			background-color: transparent
			border: none
			font-family: helveticaNeueRoman
			color: #ffffff
			font-size: $navFontSize			
			option
				font-family: inherit
				color: inherit
				background-color: #3c7bbd

main
	+content-margin($marLR)
	background-color: blue
	

footer
	position: absolute
	left: 0
	bottom: 0
	right: 0
	+content-margin($marLR)
	display: flex
	height: 53px
	font-family: helveticaRegular
	font-size: 0.8em
	align-items: center
	justify-content: flex-end
	color: #ffffff
	p 
		margin: auto
	ul > li 
		display: inline-block
		&:not(:last-child)
			margin-right: 8px
		&:hover
			background-color: #17508e
	


