@import reset

@font-face
    font-family: helveticaLT
    src: url(../fonts/helvetica-light.ttf)
@font-face
    font-family: helveticaNeueRoman
    src: url(../fonts/HelveticaNeue-Roman.ttf)	
@font-face
    font-family: helveticaLT-Bold
    src: url(../fonts/helvetica-lt-bold.ttf)
@font-face
    font-family: helveticaRegular
    src: url(../fonts/helvetica-ce-regular.ttf)    
@font-face
    font-family: Exo-Bold
    src: url(../fonts/Exo-DemiBold-webfont.ttf) 

$marLR: 45px

=content-margin($marLR)
	margin: 0 $marLR

=blue-buttons
		color: #ffffff
		font-family: helveticaNeueRoman, Arial, sans-serif
		border: none
		border-radius: 5px
		background: linear-gradient(0deg, #195391, #4284c9)
		&:hover
			background: linear-gradient(0deg, #195390, #6ea1d7)
			cursor: pointer

.deal-info
	display: flex
	align-items: center
	justify-content: space-around
	font-family: helveticaLT-Bold, Arial, sans-serif
	& > div
		p:nth-child(2)
			font-size: 1.7em

html
	box-sizing: border-box;    
body
	display: flex
	flex-direction: column
	background-color: #10447b
	background-image: url("../images/bg.png"), url("../images/bg-rp.png")
	background-repeat: no-repeat, repeat-x
	font-family: helveticaNeueRoman, Arial, sans-serif
header
	padding: 20px 20px 0 20px
	+content-margin($marLR)
	display: flex
	flex-direction: column
	.logo
		position: absolute
		margin-left: -$marLR - 20px
	.user-basket
		margin-bottom: 20px
		display: flex
		width:  430px
		align-self: flex-end
		align-items: center
		justify-content: flex-end	
		a
			color: #ffffff
			text-decoration: none
		a:hover
			color: #17508e
		a:nth-child(1):after
			margin: 0 18px
			content: '|'																										
		a:nth-child(1):hover:after
			color: #ffffff																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										
		a:nth-child(2)
			margin-right: 30px
		.price-checkout
			display: flex
			justify-content: space-between
			align-items: center
			width: 250px
			height: 50px
			border-radius: 5px
			background-color: #ffffff
			img
				margin-left: 15px
			p
				font-family: helveticaLT, Arial, sans-serif
				font-size: 1.5em
				color: #4d4d4d
			button
				margin-right: 15px
				width: 87px
				height: 25px
				+blue-buttons
				font-size: 1.1em
										
	nav
		$navFontSize: 1em
		display: flex	
		align-self: center
		label
			display: flex
			align-items: center
			justify-content: center
			min-width: 145px
			min-height: 35px
			color: #ffffff
			font-family: helveticaLT-Bold, Arial, sans-serif
			font-size: $navFontSize
			cursor: pointer
			background: linear-gradient(0deg, #c9c9c9, #fdfdfd)
		label:first-of-type
			border-radius: 10px 0 0 0
		label:last-of-type
			border-radius: 0 10px 0 0
		input
			display: none
			&:checked + label
				box-sizing: border-box
				border: 1px solid #90b5dd
				background: linear-gradient(0deg, #195390, #6ea1d7)
		select
			margin-left: 45px
			background-color: transparent
			border: none
			font-family: helveticaNeueRoman, Arial, sans-serif
			color: #ffffff
			font-size: $navFontSize			
			option
				font-family: inherit
				color: inherit
				background-color: #3c7bbd

main
	+content-margin($marLR)
	display: flex
	flex-direction: row
	background-color: #ffffff
	.left
		display: flex
		flex-direction: column
		min-width: 290px
		.hot-deal
			color: #ffffff
			.deal-info
				height: 95px
				font-size: 1.1em
				background: linear-gradient(270deg, #185698, #347ac7)
				span
					font-weight: bold	
			.time-left
				display: flex
				flex-direction: column
				align-items: center
				justify-content: space-around
				background-color: #10447b
				p:nth-child(1)
					margin-top: 10px
				p:nth-child(2)
					margin: 15px 0
					font-size: 1.7em
					font-family: Exo-Bold, Arial, sans-serif
			.date-names
				display: flex
				align-items: center
				justify-content: center
				height: 30px
				font-size: 0.7em
				background: linear-gradient(270deg, #185698, #347ac7)
				& > p
					margin-right: 17px
					font-size: 1.2em
			.buy
				display: flex
				flex-direction: column
				background-color: #134a85
				align-items: center
				.price
					margin: 30px 0
					font-size: 3em
					font-family: helveticaLT-Bold, Arial, sans-serif
					font-weight: bold
				.buy-now
					display: flex
					align-items: center
					justify-content: center
					width: 290px
					height: 88px
					background-color: #dccf0e
					img
						position: absolute
						left: 0
					button
						+blue-buttons
						width: 210px
						height: 50px
						font-size: 2em
						font-family: helveticaLT-Bold, Arial, sans-serif
				.recomend
					display: flex
					flex-direction: column
					align-items: center
					p
						margin-top: 20px
						flex-grow: 1
						font-weight: 1.2em
					ul li
						margin: 20px 10px
						display: inline-block
						&:hover
							box-shadow: 0 0 1em #ffffff;
		.fb
			margin-top: 10px
	.content
		flex-grow: 1
		min-width: 520px
		article
			padding: 30px
			color: #5e5e5e
			background-color: #ffffff
			h2
				margin: 10px 0
				color: #195390
				font-size: 1.5em
				font-weight: bold
			img
				float: left
				margin: 0 20px 20px 0
				&:after
					content: ''
					display: block
					clear: both
			p
				margin-top: 30px
			.address
				margin: 25px 0
				display: flex
				.adr-img
					min-width: 250px
					min-height: 170px
					background-color: #ededed
					border: 2px solid #d8d4d4
				.p-a
					margin-left: 20px
					display: flex
					flex-direction: column
					h2
						font-size: 1.2em
						color: inherit
					p
						margin: 0
					.phone
						margin-bottom: 10px
						p
							font-size: 1.4em
							font-weight: bold
							color: black
					.adr
						img
							float: left
						&:after
							content: ''
							display: block
							clear: both		
	.right
		position: relative
		padding-left: 20px
		display: flex
		flex-direction: column
		min-width: 260px
		background-color: #ffffff
		border-left: 2px solid #dedede
		.ygol
			position: absolute
			right: 0
			top: 0
		h2
			margin-top: 30px
			color: #195390
			font-size: 1.4em
			font-weight: bold
		.deal
			&:after
				content: ''
				display: block
				margin: 0 auto
				width: 220px
				border-bottom: 1px solid #dedede
			.title
				margin-top: 20px
				color: #1f63ad
				font-size: 1.2em
			.deal-info
				margin: 20px 0
				color: #1f63ad
				& > div
					p:nth-child(2)
						font-size: 1.2em
						color: #2e2b2b
			.deal-descr
				margin-bottom: 20px
				display: flex
				align-items: center
				justify-content: center
				.photo
					margin-right: 15px
					width: 95px
					height: 70px
					background-color: #ededed
				.timer
					p
						margin: 7px 0
						color: #767676
					.timer-timer
						margin: 0
						color: #2e2b2b

footer
	position: relative
	left: 0
	bottom: 0
	right: 0
	+content-margin($marLR)
	display: flex
	height: 53px
	font-family: helveticaRegular, Arial, sans-serif
	font-size: 0.8em
	align-items: center
	justify-content: flex-end
	color: #ffffff
	p 
		margin: auto
	ul > li 
		display: inline-block
		&:not(:last-child)
			margin-right: 8px
		&:hover
			background-color: #17508e
	


