html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: helveticaLT;
  src: url(./fonts/helvetica-light.ttf); }

@font-face {
  font-family: helveticaNeueRoman;
  src: url(./fonts/HelveticaNeue-Roman.ttf); }

@font-face {
  font-family: helveticaLT-Bold;
  src: url(./fonts/helvetica-lt-bold.ttf); }

@font-face {
  font-family: helveticaRegular;
  src: url(./fonts/helvetica-ce-regular.ttf); }

.deal-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: helveticaLT-Bold; }
  .deal-info > div p:nth-child(2) {
    font-size: 1.7em; }

html {
  box-sizing: border-box; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #286aaf; }

header {
  padding: 20px 20px 0 20px;
  margin: 0 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #286aaf; }
  header .logo {
    position: absolute;
    margin-left: -65px; }
  header .user-basket {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    width: 430px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    header .user-basket a {
      color: #ffffff;
      text-decoration: none; }
    header .user-basket a:hover {
      color: #17508e; }
    header .user-basket a:nth-child(1):after {
      margin: 0 18px;
      content: '|'; }
    header .user-basket a:nth-child(1):hover:after {
      color: #ffffff; }
    header .user-basket a:nth-child(2) {
      margin-right: 30px; }
    header .user-basket .price-checkout {
      width: 250px;
      height: 50px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 5px;
      background-color: #ffffff; }
      header .user-basket .price-checkout img {
        margin-left: 15px; }
      header .user-basket .price-checkout p {
        font-family: helveticaLT;
        font-size: 1.5em;
        color: #4d4d4d; }
      header .user-basket .price-checkout button {
        margin-right: 15px;
        width: 87px;
        height: 25px;
        color: #ffffff;
        font-family: helveticaNeueRoman;
        border: none;
        border-radius: 5px;
        background: linear-gradient(0deg, #195391, #4284c9);
        font-size: 1.1em; }
        header .user-basket .price-checkout button:hover {
          background: linear-gradient(0deg, #195390, #6ea1d7);
          cursor: pointer; }
  header nav {
    -ms-flex-item-align: center;
    align-self: center;
    display: -ms-flexbox;
    display: flex; }
    header nav label {
      width: 145px;
      height: 35px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #ffffff;
      font-family: helveticaLT-Bold;
      font-size: 1em;
      cursor: pointer;
      background: linear-gradient(0deg, #c9c9c9, #fdfdfd); }
    header nav label:first-of-type {
      border-radius: 10px 0 0 0; }
    header nav label:last-of-type {
      border-radius: 0 10px 0 0; }
    header nav input {
      display: none; }
      header nav input:checked + label {
        box-sizing: border-box;
        border: 1px solid #90b5dd;
        background: linear-gradient(0deg, #195390, #6ea1d7); }
    header nav select {
      margin-left: 45px;
      background-color: transparent;
      border: none;
      font-family: helveticaNeueRoman;
      color: #ffffff;
      font-size: 1em; }
      header nav select option {
        font-family: inherit;
        color: inherit;
        background-color: #3c7bbd; }

main {
  margin: 0 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }
  main iframe {
    display: none; }
  main .left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 290px;
    height: 900px; }
    main .left .hot-deal {
      color: #ffffff; }
      main .left .hot-deal .deal-info {
        height: 95px;
        font-size: 1.1em;
        background: linear-gradient(270deg, #185698, #347ac7); }
      main .left .hot-deal .time-left {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-color: #10447b; }
        main .left .hot-deal .time-left p:nth-child(1) {
          margin-top: 10px; }
        main .left .hot-deal .time-left p:nth-child(2) {
          margin: 15px 0;
          font-size: 1.7em; }
      main .left .hot-deal .date-names {
        display: -ms-flexbox;
        display: flex;
        height: 30px;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 0.7em;
        background: linear-gradient(270deg, #185698, #347ac7); }
        main .left .hot-deal .date-names > p {
          margin-right: 17px;
          font-size: 1.2em; }
      main .left .hot-deal .buy {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #134a85;
        -ms-flex-align: center;
        align-items: center; }
        main .left .hot-deal .buy .price {
          margin: 30px 0;
          font-size: 3em; }
        main .left .hot-deal .buy .buy-now {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 90px;
          width: 290px;
          background-color: #dccf0e; }
          main .left .hot-deal .buy .buy-now button {
            color: #ffffff;
            font-family: helveticaNeueRoman;
            border: none;
            border-radius: 5px;
            background: linear-gradient(0deg, #195391, #4284c9);
            width: 210px;
            height: 50px;
            font-size: 1.5em; }
            main .left .hot-deal .buy .buy-now button:hover {
              background: linear-gradient(0deg, #195390, #6ea1d7);
              cursor: pointer; }
        main .left .hot-deal .buy .recomend {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-align: center;
          align-items: center; }
          main .left .hot-deal .buy .recomend p {
            -ms-flex-positive: 1;
            flex-grow: 1; }
          main .left .hot-deal .buy .recomend ul li {
            margin: 20px 10px;
            display: inline-block; }
            main .left .hot-deal .buy .recomend ul li:hover {
              box-shadow: 0 0 1em #ffffff; }
  main .content {
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 520px;
    height: 400px;
    background-color: green; }
    main .content article {
      background-color: #fff;
      display: none;
      min-height: 200px;
      border-top: 5px solid #e74c3c; }
  main .right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 260px;
    background-color: #ffffff; }
    main .right h2 {
      color: #195390;
      font-size: 1.4em; }
    main .right .deal:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 220px;
      border-bottom: 1px solid #dedede; }
    main .right .deal .title {
      margin-top: 20px;
      color: #1f63ad;
      font-size: 1.2em; }
    main .right .deal .deal-info {
      margin: 20px 0;
      color: #1f63ad; }
      main .right .deal .deal-info > div p:nth-child(2) {
        font-size: 1.2em;
        color: #2e2b2b; }
    main .right .deal .deal-descr {
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center; }
      main .right .deal .deal-descr .photo {
        margin-right: 15px;
        width: 95px;
        height: 70px;
        background-color: #ededed; }
      main .right .deal .deal-descr .timer p {
        margin: 7px 0;
        color: #767676; }
      main .right .deal .deal-descr .timer .timer-timer {
        margin: 0;
        color: #2e2b2b; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 45px;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  font-family: helveticaRegular;
  font-size: 0.8em;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #ffffff; }
  footer p {
    margin: auto; }
  footer ul > li {
    display: inline-block; }
    footer ul > li:not(:last-child) {
      margin-right: 8px; }
    footer ul > li:hover {
      background-color: #17508e; }
